{% extends 'core/base.html' %} {% load static %} {% block content %}
<div class="text-center text-white mb-5">
  <div class="position-relative" style="height: 400px; overflow: hidden">
    <img
      src="{% static 'images/azienda.jpg' %}"
      alt="Logo Youfa"
      class="w-100 h-100"
      style="object-fit: cover; filter: brightness(50%)"
    />
    <div
      class="position-absolute top-50 start-50 translate-middle text-center px-3"
    >
      <h1 class="display-5 fw-bold">Youfa Exchange</h1>
      <p class="lead mt-3">
        È la piattaforma che ti permette di investire in azioni ed ETF in modo
        semplice, sicuro e trasparente. Con un'interfaccia intuitiva e un
        supporto continuo, siamo qui per rendere l'investimento alla portata di
        tutti.
      </p>
    </div>
  </div>
</div>

<div class="row text-white">
  <div class="col-md-6 mb-4 d-flex">
    <div class="card bg-dark text-white w-100 h-100 d-flex flex-column">
      <img
        src="{% static 'images/investimenti_facili.jpg' %}"
        class="card-img-top"
        alt="Investimenti Facili"
        style="height: 200px; object-fit: cover"
      />
      <div class="card-body d-flex flex-column flex-grow-1">
        <h5 class="card-title">Investimenti semplificati</h5>
        <p class="card-text">
          Acquista azioni ed ETF con un click, senza complessità.
        </p>
      </div>
    </div>
  </div>

  <div class="col-md-6 mb-4 d-flex">
    <div class="card bg-dark text-white w-100 h-100 d-flex flex-column">
      <img
        src="{% static 'images/sicurezza.jpg' %}"
        class="card-img-top"
        alt="Sicurezza"
        style="height: 200px; object-fit: cover"
      />
      <div class="card-body d-flex flex-column flex-grow-1">
        <h5 class="card-title">Affidabilità e sicurezza</h5>
        <p class="card-text">
          Movimenti sempre tracciati e protetti, in un ambiente sicuro e
          trasparente.
        </p>
      </div>
    </div>
  </div>
</div>

<div class="text-center text-dark mt-5 mb-5">
  <h2 class="display-6">Inizia a investire oggi stesso</h2>
  <p class="lead mt-3">
    Unisciti a Youfa Exchange e scopri quanto è facile investire in azioni ed
    ETF. Con il nostro supporto continuo e la sicurezza garantita, potrai fare
    crescere il tuo portafoglio in modo semplice e trasparente.
  </p>
  <a href="{% url 'register' %}" class="btn btn-outline-primary btn-lg mt-4">
    Registrati ora
  </a>
</div>

{% endblock %}
